

body {
  color: #008AE6;
  margin: 0;
  background-color: black;
  transition: all 0.6s;
  height: 100%;
}

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #008AE6;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
